{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/blog/static/blog/mains.css">
<link rel="stylesheet" href="{%static 'blog/mains.css'%}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css"
   integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
   <body style="background-color:rgb(241, 245, 247);">
  
   
       <div class="rows" style="margin-top: 100px;">
    </div>
   

    <div class="content-section" style="margin-top: 0px;">
        <div class="media">
            {% if image.username%}
            <img src="{{image.username.profile.profile_image.url}}" srcset="" class="rounded-circle"
                style="height: 100px; width: 100px;">

            <p style="font-size: 15px;">{{image.username}} <span style="font-size: 10px;"> {{image.username.email}}
                    {%  endif %}
                    {% if image.username.profile.bio%}
                </span> <br> <span> {{image.username.profile.bio}} </span></p>
            {%endif%}
        </div><br><br>

        {%if image.caption %}
        <small>
        {{ image.date_posted | date:"M d,Y " }}
      </small>
        <p> {{image.caption}}</p>
        {%endif%}
        {% if image.image%}

        <h4 class="text-center">Project Details!</h4>
        <hr>
        <div class="row">
          <div class="col-lg-6">
        <img src="{{image.image.url}}" alt="" srcset="" style="height: 500px; width: 500px;">
        <i style=" font-size: 16px;" class="far fa-comment">   {{ image.number_of_comments }} comments  </i>
    
    <a href="#" onClick="document.getElementById('likebutton').submit()">
   
     
      
      <i style=" font-size: 16px;" class="far fa-heart"></i>
    
       
  
</a> 
{{image.likes}} likes
<form id="likebutton" method="POST" action="{% url 'imagepreference' image.id 1%}">
{% csrf_token %}
<input type="hidden">
</form>

    </div>  
    <div class="col-lg-6">
     <h6> Sitename: <strong> {{image.sitename}}  </strong></h6>
     <hr>
     {% if image.tags%}
     <h6> Tags:{{image.tags}}</h6>
     <hr>
     
     {%endif%}
     {% if image.technology%}
     <h6> Technology:{{image.technology}}</h6>
     <hr>
     {%endif%}
     {% if image.category%}
     <h6> Category:{{image.category}}</h6>
     <hr>
     {%endif%}
    
     <h6> Country:{{image.countries.name}} <span> <img src="{{image.countries.flag}}" alt="" srcset="">  </span></h6>
     <hr>
    {% if image.twitter %}
   <h6>  Follow me :<a href="{{image.twitter}}"><i class="fab fa-twitter"></i></a>  </h6> 
      {% endif %}
    <hr>
     <p> Description: {{image.description}}</p>
     <hr>
     {% endif%}

     {% if image.username == user %}
     <i class="fas fa-pen-fancy" style="margin-left: 200px; margin-top: -100px;">  <a href="{% url 'image-update' image.id %} "> Edit</a> </i>    
     <i class="fas fa-trash-alt"> <a href="{% url 'image-delete' image.id %} "> Clear</a>  </i>   
    {%endif%}
    </div>
    
        </div>
       
       

    </div>
    

</div>

</article>

<div class="container">


    {% for comment in comments %}
    <article class="media content-section">
        <div style="width: 100%; word-break: break-all;" class="hovered-tweet-comment-in">
            <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
                <div style="padding-left: 0px !important;" class="col-8 no-padding d-flex align-items-center">
                    <img class="rounded-circle mr-2" style="width: 40px; height: 40px;"
                        src="{{ comment.username.profile.profile_image.url }}">

                    <p style="font-size: 10px;">{{ comment.username }} , {{ comment.date_posted | date:"M d,Y " }} <br> <span > {{ comment.comments }} </span></p><br>
                
                    

                </div>
            </div>
            <div class="mb-2" style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.1)"></div>
            <a style="color: rgba(255, 255, 255, 0.5) !important;">
                <p>

                </p>

            </a>
        </div>
    </article>
    {% endfor %}
</div>
{% if user is not None %}
<div class="col-12 col-md-6 pl-0 pl-md-3 pr-3">
    <h3 class="white-important mb-3">
      
    </h3>
    <div class="row">
        <div class="col-lg-12" >
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" class="text-center">
            {{ form | crispy }}
        </fieldset>
        <div class="form-group" style="margin-top: -20px;">
            <button class="btn btn-outline-primary btn-sm " type="submit">comment</button>
        </div>
    </form>
</div>
</div>
</div>
{% endif %}
</div>
</div>
<footer>


</footer>
</body>
{% endblock content %}